.menu {
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(189,189,189,1) 41%, rgba(189,189,189,1) 62%, rgba(189,189,189,0) 100%);
}

/* Ajustar el cuerpo y la estructura general */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Centrar el contenido en main */
main {
    flex-grow: 1; /* Asegura que el contenido empuje el footer hacia abajo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de inicio de sesión */
#loginBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 200px;
    height: 50px;
    background-image: url("/static/img/bandera.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: x-small;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 1px; /* Ajuste fino para el texto */
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: none;
}

/* Efecto al pasar el mouse */
#loginBtn:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el cursor */
}

#registerBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 200px;
    height: 50px;
    background-image: url("/static/img/bandera.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: x-small;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 1px; /* Ajuste fino para el texto */
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: none;
}

/* Efecto al pasar el mouse */
#regiterBtn:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el cursor */
}

/* Estilos del footer para que se mueva con el contenido */
footer {
    position: relative;
    width: 100%;
    background-color: #f3f4f6;
    padding: 15px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Separa el texto y las imágenes */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajustes del texto */
footer p {
    font-size: 14px;
    color: #4b5563;
    font-weight: bold;
    margin-left: 20px; /* Asegura que el texto esté alineado a la izquierda */
}

/* Contenedor de imágenes para que queden alineadas */
.footer-images {
    display: flex;
    gap: 10px; /* Espaciado entre imágenes */
}

/* Ajuste de tamaño de imágenes */
footer img {
    object-fit: contain;
}

/* Ajuste responsive para pantallas más grandes */
@media (min-width: 540px) {
    footer img {
        width: 120px;
        height: 30px;
        object-fit: contain;
    }
}
